name: Sync files to Ec2 servers
on:
  workflow_dispatch:
  push:
    branches:
      - development

jobs:
  sync-files:
    runs-on: [self-hosted]
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        continue-on-error: true
        with:
          fetch-depth: 0

      - name: Server IP Display
        continue-on-error: true
        run: |
          echo "Servers: ${{ vars.HOST }}"
          IFS=' ' read -ra ADDR <<< "$HOST" # Split HOST into an array using space as delimiter
          for SERVER in "${ADDR[@]}"; do
            echo "$SERVER"
          done
          
      - name: Sync files
        uses: ./.github/rsync-action/
        with:
          destination: "/home/ec2-user/sync-folder"
          host: ${{ vars.HOST }}
