name: Sync files to Ec2 servers
on:
  workflow_dispatch:

jobs:
  sync-files:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        continue-on-error: true
        with:
          ref: development

      - name: Server IP Display
        continue-on-error: true
        run: |
          echo "Servers: ${{ vars.HOST }}"
          
      - name: Sync files
        uses: ./.github/rsync-action/
        with:
          destination: "/home/ec2-user/sync-folder"
          host: ${{ vars.HOST }}
